<!DOCTYPE html>
<html lang="is">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fallbeygja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="cont">
        <div class="title-container">
            <h1 class="title">Fallbeygja</h1>
        </div>
        <div class="container main-container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="dec-card">
                        <h3><%= ordData.ord %></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <% if (ordData.et.length !== 0) { %> <%- include("partials/et"); -%> <% } %>
                <% if (ordData.etgr.length !== 0) { %> <%- include("partials/etgr"); -%> <% } %>
                <% if (ordData.ft.length !== 0) { %> <%- include("partials/ft"); -%> <% } %>
                <% if (ordData.ftgr.length !== 0) { %> <%- include("partials/ftgr"); -%> <% } %>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <form method="GET" action="/">
                        <button type="submit" class="dec-card"><i class="fas fa-forward"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Öll gögn um fallbeygingu eru fengin úr <a href="https://bin.arnastofnun.is/">Beygingarlýsingu íslensks nútímamáls</a> og er í eigu <a href="https://arnastofnun.is/">Stofnunar Árna Magnússonar í íslenskum fræðum</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>